
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

  body{
  background-color: #212121;
}

a{
  text-decoration: none;
  color: white;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #0000003b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #0000003b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00000083;
    border-radius: 10px;
    border: 0px;
  }


.App{
  max-width: 1280px;
  margin: 0 auto;
}

.navigation{
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  width: 100%;
  background-color: #212121;
  height: 5em;
  align-items: center;
  color: white;
}

.right button{
  background-color: #325d96;
  border: 0;
  padding: 10px;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right button:hover{
  background-color: #3a6eb1;
  transition: 1s;
  cursor: pointer;
}

.menu ul{
  display: flex;
  flex-direction: row;
  color: white;

}

.menu ul li{
  list-style: none;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.menu ul li a{
  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
  font-weight: 500;
  font-size:1em;
}

.menu ul li a:hover{
  color: #ffffff;
  font-size: 1.05em;
  transition: mask-position 3s ease,-webkit-mask-position 3s ease, font-size 1s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}
.logo{margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}

.logo a{
  font-weight: 500;
  font-size: 2em;
}

.logo c{
  background-color: #325d96;
  font-size: 0.4em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10em;
}

.main-container{
  max-width: 1280px;
  width: 100%;
  background-color: #212121;
  flex-direction: column;
  justify-content: center;
}

.banner{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 600px;
  background-repeat: no-repeat;
  background: url(./images/lines.svg);
  background-size: cover;
}

.banner-left{
  width: 100%;
  color: white;
  font-family: 'Kanit', sans-serif;
  margin-left: 2em;
}

.banner-left h2{ 
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0;
}

.banner-left p{ 
  font-family: 'Kanit', sans-serif;
  margin: 0;
  color: #ffffff73;
  font-weight: 200;
}

.banner-left b{ 
  color: #4a7dc0;
}

.banner-left button{ 
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #325d96;
  border: 0;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  animation: .8s shake infinite alternate;
  border-radius: 10em;
  cursor: pointer;
}

.banner-right img{
  margin-right: 4em;
}

.information-box{
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1em;
}

.info-box{
  color: white;
  display: flex;
  height: 10em;
  align-items: center;
  flex-direction: column;
  font-family: 'Kanit', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0.5em;
  background: url(./images/crd1.svg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: transparent;
}

.info-box:hover{
  animation: cards 1s forwards;
}


.info-box h2{
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
}

.info-box h1{
  margin-top: -20px;
  color: #4a7dc0;
  font-size: 2.5em;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
}

#trade-title{  
  padding-left: 1em;
  margin-top: 5em;
  font-family: 'Kanit', sans-serif;
  color: white;
  font-weight: 400;
  padding-bottom: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0;
  border-bottom: 1px solid #3a6eb160;
}


.last-trades{
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  max-width: 1280px;
  background-color: #242424;
  position: relative;
  overflow:scroll;
  overflow-y: hidden;
  
}


.last-trade-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#4a7dc0;
  font-size: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;

}


.last-trade-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
  background-color: #242424;
  padding: 0.5em;
}


.last-trade-item h4{
  font-size: 0.5em;
  margin: 0;
  color: #fff;
  padding-bottom: 0.5em;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

.last-trade-item button{
  width: 100%;
  border:0;
  background-color: #3a6eb1;
  color: white;
  font-family: 'Kanit', sans-serif;
  padding:0.5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-weight: 600;
  cursor: pointer;
}

.tutorial{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color:white;
  border-radius: 1em;
  margin-bottom: 10vh;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  flex-wrap: wrap;
}


.bar-container{
  position: relative;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-dot{
  width: 25px;
  height: 25px;
  background-color: #353535;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 0;
  color: white;
}

#dot1{
  animation: beat 9s infinite;
}

#dot2{
  animation: beat1 9s infinite;
}

#dot3{
  animation: beat2 9s infinite;
}

#dot4{
  animation: beat3 9s infinite;
}

#step1{animation: step 9s infinite;}
#step2{animation: step1 9s infinite;}
#step3{animation: step2 9s infinite;}
#step4{animation: step3 9s infinite;}


.dot-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ghost-line{
  width: 5px;
  background-color: #000000;
  height: 100%;
  position:absolute;
  z-index: 0;
  border-radius: 10px;
}

.bar-line{
  transition: all 5s;
  width: 5px;
  background-color: #325d96;
  position:absolute;
  z-index: 1;
  animation: slideDown 9s infinite linear;
  border-radius: 10px;
}

.tutorial-text{
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

.tutorial-step{
  color: #c5c4c441;
}

.tutorial-video{
  font-family: 'Kanit', sans-serif;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4a7dc03f;
  border-radius: 10px;
  margin-right: 2em;
}

.tutorial-text h2{
  font-weight: 400;
  margin-bottom: 0;
}

.tutorial-text p{
  margin-top: 0;
}

.footer{
  max-width: 1280px;
  width: 100%;
  position: relative;
}

.footer-menus{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(./images/lines.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-bottom: 2em;
}

.footer-menu{
  color: white;
  padding: 2em;
}

.footer-menu h4{
  font-family: 'Kanit', sans-serif;
  font-size: 1.1em;
  margin-bottom: 0;
}

.footer-menu li{
  list-style:none;
  font-family: 'Kanit', sans-serif;
  font-weight: 200;
  font-size: 1em;
}

.footer-menu li a{
  color: #ffffff93;
  cursor: pointer;
}

.social-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  min-height: 5em;
  border-top: 1px solid #4b4b4b5d;
  border-bottom: 1px solid #4b4b4b5d;
  border-radius: 4em;
}

.social-box a{
  display: flex;
  font-family: 'Kanit', sans-serif;
  background-color: #00000000;
  padding: 1em;
  border-radius: 2em;
}

.social-box a:hover{
  cursor: pointer;
  transition: all 1s;
  display: flex;
  font-family: 'Kanit', sans-serif;
  padding: 1em;
  border-radius: 2em;
}

.social-box img{
  margin-right: 0.5em;
}

.footer-info{
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.288);
  margin-top: 3em;
  padding: 2em;
  padding-top: 0;
}

.footer-info a{
  color: #325d96;
  cursor: pointer;
}

.displaynone{
  display: none;
}

.warning{
  background-color: #c93f27;
  width: 100%;
  margin-top: 2em;
  color: white;
  font-family: 'Kanit', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.warning h2, .warning p{
  margin: 0;
  margin-left: 1em;

}

.warning button{
  border: 0;
  background-color: #0000002f;
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  margin-right: 1em;
}

.trade-information{
  width: 100%;
  color: white;
  background-color: #00000057;
  margin: 0;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  font-family: 'Kanit', sans-serif;
}

.trade-information h3{
  margin: 0;
  padding-top: 1em;
  font-weight: 200;
  font-size: 1.5em;
  text-align: center;
}

.trade-information p{
  margin: 0rem;
  padding-bottom: 1em;
  font-weight: 200;
  text-align: center;
  color: #c7c7c7;
}

.trade-information b{
  color: #4a7dc0;
}

.trade-area{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Kanit', sans-serif;
}

.trade-line{
  width: 0.5em;
  background-color: #00000057;
}

.trade-container{
  width: 100%;
  display: flex;
  max-height: 500px;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.trade-steps{
  width: 100%;
  margin-bottom: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(./images/lines.svg);
  background-color: #00000057;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:center;
  flex-wrap: wrap;
  min-height: 10em;

}

.trade-steps button{
  border: 0;
  background-color: #325d96;
  color: white;
  padding: 1em;
  border-radius: 5em;
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
  padding-left: 4em;
  padding-right: 4em;
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
}

.trade-steps h4{
  color:white;
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-left: 5em;
}

.nft-trade-item{
  padding: 10px;
  width: 200px;
  height: 250px;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  border-radius: 0.5em;
}

.nft-information{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nft-information a{
  padding-left: 0.3em;
}


.selected-nft{
  border: 2px solid #4a7dc0;
}

.trade-steps-container{
  width: 50%;
  margin-top: 1em;
  
}

.trade-steps-text{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:white;
  font-family: 'Kanit', sans-serif;
  font-weight: 500;
}

.trade-bar-container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.trade-ghost-line{
  height: 5px;
  background-color: #000000;
  width: 100%;
  z-index: 0;
  border-radius: 10px;
  position:absolute;

}

.trade-bar-line{
  transition: all 5s;
  height: 5px;
  background-color: #325d96;
  position:absolute;
  z-index: 1;
  border-radius: 10px;
}

.trade-step-1{
  animation: tradestep1 1s linear forwards;
}
.trade-step-2{
  animation: tradestep2 1s linear forwards;
}
.trade-step-3{
  animation: tradestep3 1s linear forwards;
}

.trade-dot-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.trade-bar-dot{
  width: 25px;
  height: 25px;
  background-color: #353535;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 0;
  color: white;
}

/* NEWS STYLES */
.news-collections{
  display: flex;
  flex-direction: row;
  overflow:scroll;
  overflow-y: hidden;
  height: 60px;
  padding-bottom: 0.5em;
  width: 100%;
}

.news-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(0,0,0);
  background: rgb(32,32,32);
  background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(16,16,16,1) 100%);
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 250px;
  justify-content: space-evenly;
  border: 0;
  border-radius: 4em;
  cursor: pointer;
  border: 1px solid black;
}


.news-item h2{
  color: white;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.news-item img{
  height: 80%;
}

.news-container{
  width: 100%;
}


.news-container h1{
  text-transform: uppercase;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 3em;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to left, #212121 0%, rgba(50,93,150,1) 50%, #212121 100%) 0% 0 100% 0/3px 0 3px 0 stretch;
}

.news-container b{
  color: #4a7dc0;
}

.news-table-element{
  width: 100%;
  background: rgb(0,0,0);
  background: rgb(12, 12, 12);
  background: linear-gradient(90deg, rgb(12, 12, 12) 0%, rgba(16,16,16,1) 100%);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}


.news-table h2{
  color: #ffffff;
  font-family: 'Kanit', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2em;
  font-weight: 400;
}

.news-author{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  width: 15%;
}

.news-author h2{
  font-size: 1em;
  text-align: left;

}

.news-author img{
  height: 40%;
  margin-right: 1em;
}


.news-details{
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.news-details .news-content{
  color: white;  
  font-family: 'Kanit', sans-serif;
  word-wrap: break-word;
  max-width: 50%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.news-details .news-content img{
  max-width: 1em;
}

.news-image-gallery{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.news-image-gallery img{
  cursor: zoom-in; 
  max-width: 400px;
}

.news-image-gallery button{
  border: 0;
  font-family: 'Kanit', sans-serif;
  background-color: #242424;
  color: white;
  cursor: pointer;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.news-image-control-panel{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.news-image-gallery h3{
  color: white;
}


.news-table-element img{
  max-height: 80%;
}

.news-table-element h3{
  color: white;
  font-family: 'Kanit', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

.news-table-element button{
  color: white;
  font-family: 'Kanit', sans-serif;
  border: 0;
  background-color: #000000c7;
  padding: 1em;
  border-radius: 10em;
  font-weight: 500;
}

.newsletter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

.collections-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000080;
  color: white;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #3a6eb1;
  font-family: 'Kanit', sans-serif;
  width: 20%;
}

.newsletter-container h1{
  white-space:pre-wrap;
  text-align: center;
  overflow: hidden;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 2em;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to left, #212121 0%, rgba(50,93,150,1) 50%, #212121 100%) 0% 0 100% 0/3px 0 3px 0 stretch;
}

.collection-item img{
  max-width: 200px; 
  max-height: 200px;
  border-bottom: 1px solid #242424;
  padding-bottom: 1em;
}

.collection-item h3{margin-top: 0; font-weight: 500;}

.collection-item button{
  font-family: 'Kanit', sans-serif;
  padding: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border: 0;
  background-color: #325d96;
  color: white;
  cursor: pointer;
  margin-top: 2em;
  text-align: center;
  width: 80%;
}

.newsletter-container input{
  width: 50%;
  padding: 1.2em;
  border: 0;
  background-color: #101010;
  border-radius: 5em;
  color: white;
  font-family: 'Kanit', sans-serif;
  font-size: 1em;
}

.newsletter-container input:focus{
  outline: none;
  border-color: #4a7dc0;
  box-shadow: 0 0 0 2px #4a7dc0;
}

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000000d5;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.modal-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 85%;
  background-color:#242424;
  font-family: 'Kanit', sans-serif;
}

.modal-container img{
  height: 100%;
  width: 100%;
}

.modal-top{
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: #000000;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.modal-top h2{
  margin-left: 2em;
  font-family: 'Kanit', sans-serif;
  color: #fff;

}

.modal-top button{
  margin-right: 2em;
  border: 1px solid #325d96;
  background-color: transparent;
  color: #fff;
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.modal-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes step{
  0%, 10% { color:#ffffff60;}
  11%, 32% { color:#fff;}
  33%, 34% { color:#ffffff60;}
}

@keyframes step1{
  0%, 35% { color:#ffffff60;}
  36%, 57% { color:#fff;}
  58%, 59% { color:#ffffff60;}
}

@keyframes step2{
  0%, 60% { color:#ffffff60;}
  61%, 82% { color:#fff;}
  83%, 84% { color:#ffffff60;}
}

@keyframes step3{
  0%, 85% { color:#ffffff60;}
  86%, 100% { color:#fff;}
}

@keyframes beat{
  0%, 10% { transform: scale(1); background-color:#353535; }
  11%, 32% { transform: scale(1.4); background-color: #4a7dc0;}
  33%, 34% { transform: scale(1); background-color:#353535; }
}

@keyframes beat1{
  0%, 35% { transform: scale(1); background-color:#353535; }
  36%, 57% { transform: scale(1.4); background-color: #4a7dc0; }
  58%, 59% { transform: scale(1); background-color:#353535; }
}

@keyframes beat2{
  0%, 60% { transform: scale(1); background-color:#353535; }
  61%, 82% { transform: scale(1.4); background-color: #4a7dc0;}
  83%, 84% { transform: scale(1); background-color:#353535;  }
}

@keyframes beat3{
  0%, 85% { transform: scale(1); background-color:#353535; }
  86%, 100% { transform: scale(1.4); background-color: #4a7dc0;}
}

@keyframes slideDown{
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes tradestep1{
  from {
    width: 0%;
  }
  to {
    width: 16%;
  }
}

@keyframes tradestep2{
  from {
    width: 16%;
  }
  to {
    width: 50%;
  }
}

@keyframes tradestep3{
  from {
    width: 50%;
  }
  to {
    width: 85%;
  }
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); scale: 105%; }
  100% { transform: skewX(0deg); }  
}

@keyframes cards {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.2, 1.2);
  }
}


@media only screen and (max-width: 1000px) {
  .menu{display: none;}
  .banner-right{display: none;}
  .info-box{margin-top: 2em;}
  .news-details img{max-width: 100%;}
  .logo c{display: none;}
  .modal-container{
    width: 100%;
    height: auto;
  }

  .trade-steps-container{
    width: 100%;
    margin-bottom: 1em;
  }

  .trade-steps {
    justify-content: center;
  }
  .trade-steps button{
    margin-bottom: 1em;
    width: 100%;
    margin-top: 1em;
  }
  .App{
    display: block;
  }
  .collection-item{
    width: 100%;
  }
  .newsletter-container h1{
      width: 100%;
  }
  .newsletter-container input{
    width: 80%;
  }
  .newsletter-container h1{font-size: 1.6em;}
  .news-container h1{font-size: 1.5em;}
  
  .tutorial-video{display: none;}
  .tutorial-text{width: 65%;}
  .bar-container{margin-left: 2em;}
  .news-details p{
    max-width: 90%;
  }
}

.dc-spoiler {
  background-color: #444;
  color: #444;
  padding: 0.2em;
}
.dc-spoiler:hover {
  background-color: none;
  color: #fff;
}
.dc-code {
  margin: 0;
  background-color: #2B2D31;
  color: #fff;
  display: inline-block;
}
.dc-user, .dc-channel {
  background-color: #3D4270;
  color: #fff;
  padding: 0 2px;
  border-radius: 2px;
}
.dc-user:hover, .dc-channel:hover {
  background-color: #5865F2;
}
.dc-multi-code {
  background-color: #2B2D31;
  border: 1px solid #1E1F22;
  border-radius: 5px;
  padding: 0.3em;
  white-space: pre;
  display: block;
}
.dc-quote {
  margin: 0;
  border-left: 3px solid #4E5058;
  padding-left: 6px;
}
.dc-link {
  color: #00A8FC;
}
.dc-timestamp {
  background-color: #3F4046;
}
