
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800&display=swap');

:root {
  --black: #212121;
  --blue: #325d96;
}

body{
  background-color: var(--black);
}

a{
  text-decoration: none;
  color: white;
}



/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #000000 #0000003b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #0000003b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #00000083;
    border-radius: 10px;
    border: 0px;
  }


.App{
  max-width: 1280px;
  margin: 0 auto;
}

.navigation{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  align-items: center;
  color: white;
  max-width: 1280px;
}

.right button{
  background-color: var(--blue);
  border: 0;
  padding: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 600;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right button:hover{
  background-color: #3a6eb1;
  transition: 1s;
  cursor: pointer;
}

.menu ul{
  display: flex;
  flex-direction: row;
  color: white;

}

.menu ul li{
  list-style: none;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.menu ul li a{
  -webkit-mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
  -webkit-mask-size: 800%;
  mask-size: 800%;
  -webkit-mask-position: 0;
  mask-position: 0;
  font-weight: 500;
  font-size:1em;
}

.menu ul li a:hover{
  color: #ffffff;
  font-size: 1.05em;
  transition: mask-position 3s ease,-webkit-mask-position 3s ease, font-size 1s ease;
  -webkit-mask-position: 120%;
  mask-position: 120%;
  opacity: 1;
}

.logo{margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 90%;
  display: flex;
  align-items: center;
  margin-left: 0;
}

.logo a img{
height: 40%;
}

.logo a{
  font-size: 1.5em;
  margin-left: 0.5em;
  height: 100%;
  display: flex;
  align-items: center;
}

.mobile-menu{
  display: none;
}

.mobile-menu button{
  background-color: #151515;
  width: 100%;
  font-size: 1.2em;
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.397);
}
.mobile-menu button a{
  color: #ffffff;
}

.main-container{
  max-width: 1280px;
  width: 100%;
  background-color: var(--black);
  flex-direction: column;
  justify-content: center;
}

.banner{
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 600px;
  background-repeat: no-repeat;
  background: url(./images/lines.svg);
  background-size: cover;
}

.projects-container{
  width: 100%;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-family: 'Montserrat', sans-serif;
  flex-wrap: wrap;
  border-bottom: 1px solid #1717179f;
  padding-top: 1em;
  padding-bottom: 5em;
}

.project-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
  width: 25%;
}

.project-item a{
  color: #ffffff;
}

.project-item h1{
  margin-bottom: 0;
}

.project-item button{
  border: 0;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #ffffff9c;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  font-weight: 600;
  border-radius: 3em;
  cursor: pointer;
}

.project-item button:first-child{
  border: 0;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--blue);
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  font-weight: 600;
  border-radius: 3em;
  cursor: pointer;
}

.note{
  color: #4a7dc0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #1717179f;
  margin: 0;
}

.note h2{
  margin:0;
  padding:1em;
  font-weight: 500;
}


.banner-left{
  width: 100%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-left: 2em;
}

.banner-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5em;
  font-weight: 800;
  color: #4a7dc0;
}

.blink-caret{
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  font-weight: 400;
  animation: blink-caret 1s step-start infinite;

}

@keyframes blink-caret {
  50% {
    opacity: 0;
  }
}

.banner-left p{ 
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  max-width: 500px;
}

.banner-left b{ 
  color: #4a7dc0;
}

.banner-left button{ 
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--blue);
  border: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  border-radius: 10em;
  cursor: pointer;
  margin-top: 1em;
}

.banner-right img{
  margin-right: 4em;
}



.information-box{
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1em;
}

.info-box{
  color: white;
  display: flex;
  height: 10em;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 0.5em;
  background: url(./images/crd1.svg);
  background-repeat: no-repeat;
  background-size:cover;
  background-color: transparent;
}

.info-box:hover{
  animation: cards 1s forwards;
}


.info-box h2{
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.info-box h1{
  margin-top: -20px;
  color: #4a7dc0;
  font-size: 2.5em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

#trade-title{  
  padding-left: 1em;
  margin-top: 5em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 600;
  padding-bottom: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0;
}


.last-trades{
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  max-width: 1280px;
  position: relative;
  overflow:scroll;
  overflow-y: hidden;
  margin-top: 0;
  background: rgb(33,33,33);
  background: radial-gradient(circle, rgba(33,33,33,1) 0%, rgba(36,36,36,1) 50%, rgba(33,33,33,1) 100%);
}

.last-trade-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0;
  border-right: 1px solid black;
  color: var(--blue);

}

.last-trade-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
  padding: 0.5em;
  margin-top: 0;
}


.last-trade-item a{
  color:white;
  font-size: 0.4em;
  margin: 0;
}

.last-trade-item img{
max-width: 100px;
}

.last-trade-left{
  width: 100%;
  position:absolute;
  display: flex;
  justify-content: space-between;
}

.last-trade-item h4{
  font-size: 0.3em;
  margin: 0;
  color: #fff;
  padding-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


.last-trade-item h5{
  font-size: 0.4em;
  margin: 0;
  color: #fff;
  padding-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-align: center;
}


.trade-wrapper{

}

.trade-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.wallet-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  width: 50%;
}

.wallet-pic{
  max-width: 200px;
}
.wallet-pic img{
  max-width: 200px;
  border-radius: 2em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.trade-url{
  width: 50%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trade-url h4{
  padding-left: 1em;
  margin-bottom: 10px;
}

.trade-url p{
  font-size: 0.8em;
  padding-left: 1em;
}

.trade-url button{
cursor: pointer;
}

.alert{
  position: fixed;
  width: 100%;
  background-color: #208b4d;
  height: 3em;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  padding: 1em;
  z-index: 9999;
}



.trade-url input{
  width: 50%;
  padding: 1em;
  padding-left: 2em;
  border-radius: 2em;
  background-color: #000;
  border: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.trade-url button{
  padding: 1em;
  border: 0;
  margin-left: 0;
  background-color: #3a6eb1;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.trade-nav-menu {
  background-color: #0000005e;
  margin-top: 1em;
  padding: 0.05em;
}

.wallet-address{
  margin-bottom: 1em;
  padding: 0.5em;
}

.right-walletaddress{
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.trade-nav-menu ul{
  display: flex;
  justify-content: space-around;
  list-style-type:none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.trade-nav-menu li{
  padding: 1em;
  text-align: center;
  margin: 0;
  cursor: pointer;
}

.active-trade-menu{
  border-bottom: 2px solid #325d96;
}

.trade-page-container{
  padding: 2em;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #00000080;
}

.trade-offer-wrapper{
  width: 100%;
  border: 1px solid rgb(13, 76, 136);
  margin-bottom: 3em;
}

.trade-offer-header{
  width: 100%;
  background-color: #325d96;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom:1em ;
  justify-content: space-around;
  
}

.trade-offer-header h3{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.offer-date{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  background-color: #00000079;
  margin-left: 1em;
  margin-right: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.trade-status-active{
  background-color: rgb(39, 167, 66);
  padding: 0.5em;
  border-radius: 1em;
  padding-right: 2em;
  padding-left: 2em;
  font-weight: 600;
}

.trade-status-deactive{
  position: absolute;
  right: 2em;
  background-color: rgb(255, 58, 58);
  padding: 0.5em;
  border-radius: 1em;
  padding-right: 2em;
  padding-left: 2em;
  font-weight: 600;
}

.trade-offer-container{
  width: 100%;
  background-color: #414141;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.given-nfts-container{
  background-color: #00000070;
  width: 50%;
  overflow:scroll;
  overflow-x: hidden;
  color: white;
}

.given-nfts-container h3{
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}

.given-nfts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.trade-offer-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgb(44, 44, 44);
}

.terms{
  font-size: 0.8em;
  padding: 1em;
}

.terms b{
  color: #4a7dc0;
  font-weight: 800;
}

.trade-offer-buttons button{
  padding:1em;
  border: 0;
  width: 200px;
  margin-right: 1em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#accept-button{
  background-color: rgb(39, 167, 66);
}

#decline-button{
  background-color: rgb(255, 58, 58);
}

.offered-nft-item{
  padding: 1em;
}

.offered-nft-image, .offered-nft-image img{
  max-width: 100px;
  max-height: 100px;
}

.offered-nft-image img{
  border: 1px solid #000;
}

.offered-nft-information{
  font-size: 0.7em;
  margin-top: 0.3em;
  text-align: center;
}

.received-nfts{
  background-color: #584c4c;
}

.reveived-offer-buttons{
  width: 100%;
  background-color: white;
}


.tutorial{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color:white;
  border-radius: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  flex-wrap: wrap;
}

.tutorial-buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5em;
  flex-wrap: wrap;
}

.tutorial-button{
  padding: 0.5em;
  width: 20%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  background-color: #181818;
  border: 0;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 2em;
}

.activebutton{
  background-color: var(--blue);
  box-shadow: #000 1px 1px 1px 1px inset
}



#tutorial-title{
    margin-top: 2em;
    text-align: center;
    text-transform: uppercase;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(to left, var(--black) 0%, rgba(50,93,150,1) 50%, var(--black) 100%) 0% 0 100% 0/3px 0 3px 0 stretch;
}


.bar-container{
  position: relative;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar-dot{
  width: 25px;
  height: 25px;
  background-color: #353535;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 0;
  color: white;
}

#dot1{
  animation: beat 9s infinite;
}

#dot2{
  animation: beat1 9s infinite;
}

#dot3{
  animation: beat2 9s infinite;
}

#dot4{
  animation: beat3 9s infinite;
}

#step1{animation: step 9s infinite;}
#step2{animation: step1 9s infinite;}
#step3{animation: step2 9s infinite;}
#step4{animation: step3 9s infinite;}


.dot-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ghost-line{
  width: 5px;
  background-color: #000000;
  height: 100%;
  position:absolute;
  z-index: 0;
  border-radius: 10px;
}

.bar-line{
  transition: all 5s;
  width: 5px;
  background-color: var(--blue);
  position:absolute;
  z-index: 1;
  animation: slideDown 9s infinite linear;
  border-radius: 10px;
}

.tutorial-text{
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}

.tutorial-step{
  color: #c5c4c441;
}

.tutorial-video{
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 2em;
}

.tutorial-video video{
  width: 100%;
}

.tutorial-text h2{
  font-weight: 600;
  margin-bottom: 0;
}

.tutorial-text p{
  margin-top: 0;
}

.footer{
  max-width: 1280px;
  width: 100%;
  position: relative;
  margin-top: 2em;
}

.footer-menus{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(./images/lines.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  margin-bottom: 2em;
}

.footer-menu{
  color: white;
  padding: 2em;
}

.footer-menu h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  margin-bottom: 0;
}

.footer-menu li{
  list-style:none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 0.1em;
}

.footer-menu li a{
  color: #ffffff93;
  cursor: pointer;
}

.social-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  min-height: 5em;
  border-top: 1px solid #4b4b4b5d;
  border-bottom: 1px solid #4b4b4b5d;
  border-radius: 4em;
}

.social-box a{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  background-color: #00000000;
  padding: 1em;
  border-radius: 2em;
}

.social-box a:hover{
  cursor: pointer;
  transition: all 1s;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  border-radius: 2em;
}

.social-box img{
  margin-right: 0.5em;
}

.footer-info{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.288);
  margin-top: 3em;
  padding: 2em;
  padding-top: 0;
}

.footer-info a{
  color: var(--blue);
  cursor: pointer;
}

.displaynone{
  display: none;
}

.warning{
  background-color: #c93f27;
  width: 100%;
  margin-top: 2em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.warning h2, .warning p{
  margin: 0;
  margin-left: 1em;

}

.warning button{
  border: 0;
  background-color: #0000002f;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  border-radius: 0.5em;
  margin-right: 1em;
}

.trade-information{
  width: 100%;
  color: white;
  background-color: #00000057;
  margin: 0;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2em;
}

.trade-information h3{
  margin: 0;
  padding-top: 1em;
  font-weight: 200;
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
}

.trade-information p{
  margin: 0rem;
  padding-bottom: 1em;
  font-weight: 400;
  text-align: center;
  color: #c7c7c7;
}

.trade-information b{
  color: #4a7dc0;
}

.trade-area{
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
}

.trade-line{
  width: 0.5em;
  background-color: #00000057;
}

.trade-container{
  width: 100%;
  display: flex;
  max-height: 500px;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.trade-steps{
  width: 100%;
  margin-bottom: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(./images/lines.svg);
  background-color: #00000057;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:center;
  flex-wrap: wrap;
  min-height: 10em;

}

.trade-steps button{
  border: 0;
  background-color: var(--blue);
  color: white;
  padding: 1em;
  border-radius: 5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding-left: 4em;
  padding-right: 4em;
  cursor: pointer;
  margin-left: 1em;
  margin-right: 1em;
}

.trade-steps h4{
  color:white;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin-left: 5em;
}

.nft-trade-item{
  padding: 10px;
  width: 200px;
  height: 250px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  align-items: center;
  border-radius: 0.5em;
  justify-content: center;

}


.nft-trade-item img{
  width: 90%;
  border-radius: 0.2em;
}

.nft-information{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nft-information a{
  padding-left: 0.3em;
  margin-bottom: 0;
  padding-bottom: 0;
}


.selected-nft{
  border: 2px solid #4a7dc0;
}

.trade-steps-container{
  width: 50%;
  margin-top: 1em;
  
}

.trade-steps-text{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.7em;
}

.trade-bar-container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.trade-ghost-line{
  height: 5px;
  background-color: #000000;
  width: 100%;
  z-index: 0;
  border-radius: 10px;
  position:absolute;

}

.trade-bar-line{
  transition: all 5s;
  height: 5px;
  background-color: var(--blue);
  position:absolute;
  z-index: 1;
  border-radius: 10px;
}

.trade-step-1{
  animation: tradestep1 1s linear forwards;
}
.trade-step-2{
  animation: tradestep2 1s linear forwards;
}
.trade-step-3{
  animation: tradestep3 1s linear forwards;
}

.trade-dot-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.trade-bar-dot{
  width: 25px;
  height: 25px;
  background-color: #353535;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 0;
  color: white;
}

/* NEWS STYLES */
.news-collections{
  display: flex;
  flex-direction: row;
  overflow:scroll;
  overflow-y: hidden;
  height: 60px;
  padding-bottom: 0.5em;
  width: 100%;
  margin-top: 0.5em;
}

.news-collections input{
  padding: 1.2em;
  border: 1px solid black;
  background: rgb(0,0,0);
  background: rgb(32,32,32);
  background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(16,16,16,1) 100%);
  border-radius: 5em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  outline: 0;
}

.news-collections input::placeholder{
  color: rgba(255, 255, 255, 0.644);
}

.news-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(0,0,0);
  background: rgb(32,32,32);
  background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(16,16,16,1) 100%);
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-width: 250px;
  justify-content: space-evenly;
  border: 0;
  border-radius: 4em;
  cursor: pointer;
  border: 1px solid black;
}


.news-item h2{
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.news-item img{
  height: 80%;
}

.news-container{
  width: 100%;
}


.news-container h1{
  text-transform: uppercase;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to left, var(--black) 0%, rgba(50,93,150,1) 50%, var(--black) 100%) 0% 0 100% 0/3px 0 3px 0 stretch;
}

.news-container b{
  color: #4a7dc0;
}

.news-table-element{
  width: 100%;
  background: rgb(0,0,0);
  background: rgb(12, 12, 12);
  background: linear-gradient(90deg, rgb(12, 12, 12) 0%, rgba(16,16,16,1) 100%);
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2em;
}


.news-table h2{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2em;
  font-weight: 400;
}

.news-author{
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  width: 15%;
}

.news-author h2{
  font-size: 1em;
  text-align: left;

}

.news-author img{
  height: 40%;
  margin-right: 1em;
}


.news-details{
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.news-details .news-content{
  color: white;  
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  max-width: 50%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.news-details .news-content img{
  max-width: 1em;
}

.news-image-gallery{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.news-image-gallery img{
  cursor: zoom-in; 
  max-width: 400px;
}

.news-image-gallery button{
  border: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #242424;
  color: white;
  cursor: pointer;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.news-image-control-panel{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}


.news-image-gallery h3{
  color: white;
}


.news-table-element img{
  max-height: 80%;
}

.news-table-element h3{
  color: white;
  font-family: 'Montserrat', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
}

.news-table-element button{
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: 0;
  background-color: var(--blue);
  padding: 1em;
  border-radius: 10em;
  font-weight: 500;
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination button{
  padding: 1em;
  background-color: var(--blue);
  border: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 5em;
  margin-top: 2em;
}

.pagination button:disabled{
  padding: 1em;
  background-color: #0355995b;
  cursor:not-allowed;
}

.newsletter-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

.collections-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00000080;
  color: white;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border-top: 1px solid #3a6eb1;
  font-family: 'Montserrat', sans-serif;
  width: 20%;
}

.newsletter-container h1{
  white-space:pre-wrap;
  text-align: center;
  overflow: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to left, var(--black) 0%, rgba(50,93,150,1) 50%, var(--black) 100%) 0% 0 100% 0/3px 0 3px 0 stretch;
}

.collection-item img{
  max-width: 200px; 
  max-height: 200px;
  border-bottom: 1px solid #242424;
  padding-bottom: 1em;
}

.collection-item h3{margin-top: 0; font-weight: 500;}

.collection-item button{
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border: 0;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  margin-top: 2em;
  text-align: center;
  width: 80%;
}

.newsletter-container input{
  width: 50%;
  padding: 1.2em;
  border: 0;
  background-color: #101010;
  border-radius: 5em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.newsletter-container input:focus{
  outline: none;
  border-color: #4a7dc0;
  box-shadow: 0 0 0 2px #4a7dc0;
}

#loading-text{
  margin-top: 2em;
  padding: 1em;
  background-color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000000d5;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

.modal-container{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 85%;
  background-color:#242424;
  font-family: 'Montserrat', sans-serif;
}

.modal-container img{
  height: 100%;
  width: 100%;
}

.modal-top{
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  background-color: #000000;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.modal-top h2{
  margin-left: 2em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.modal-top button{
  margin-right: 2em;
  border: 1px solid var(--blue);
  background-color: transparent;
  color: #fff;
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.modal-content{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soon{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.soon h1{
  white-space:pre-wrap;
  text-align: center;
  overflow: hidden;
  color: var(--blue);
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  margin-top: 0;
}

.dd-wrapper{
position: relative;
margin-right: 1em;
margin-left: 0;
}

.dd-header{
  background-color: #101010;
  display: flex;
  padding: 0.7em;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 0;
  color: white;
}

.dd-header-title{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

.dd-list{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 999;
  align-items: center;

}

.dd-list-item{
  background-color: #181818;
  padding: 0.8em;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  text-align: left;
}

.dd-list-item:hover{
  background-color: #303030;
  cursor: pointer;
}

.slider-container {
  margin-top: 1em;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 1em;
  min-height: 400px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.slide-number {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  z-index: 5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
}

.dots {
  opacity: 0.5;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 5;
}

.dots:hover{
  opacity: 1;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

.prev-button,
.next-button {
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color:transparent;
  color: rgb(255, 255, 255);
  background-color: #00000071;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.prev-button:hover,
.next-button:hover {
  background-color: black;
  color: white;
}

.prev-button {
  left: 0px;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;

}

.next-button {
  right: 0px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.learn-more-button {
  z-index: 99;
  position: absolute;
  bottom: 10%;
  right: 2%;
  padding: 15px 20px;
  background-color: var(--blue);
  color: #333;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.learn-more-button:hover {
  background-color: #4a7dc0;
  color: #fff;
}

.launchpad-container{
  margin-top: 4em;
}

.launchpad-container img{
  width: 100%;
  border-radius: 1em;

}

.launchpad-collection-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.launchpad-container h1{
  color: white;
  padding-left: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

.launchpad-collection-image{
  max-height: 300px;
  position: relative;
  max-width: 300px;
  border-radius: 1em;
}

.launchpad-collection-details{
  height: 250px;
  padding: 1.2em;
  width: 250px;
  background-color: #00000050;
  border-radius: 1em;

  color: white;
  padding-left: 2em;
  font-family: 'Montserrat', sans-serif;

}

.launchpad-collection-details h2{
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.launchpad-collection-details button {
  border: 0;
  padding: 1em;
  width: 100%;
  background-color: var(--blue);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  border-radius: 2em;
}

.launchpad-time{
  position: absolute;
  background-color: rgb(255, 58, 58);
  border-radius: 2em;
  padding: 0.5em;
  left: 10px;
  top: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.launchpad-price{
  position: absolute;
  background-color: rgb(39, 167, 66);
  border-radius: 2em;
  padding: 0.5em;
  right: 10px;
  top: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.affiliates-container{
  margin-top: 2em;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

}

.affiliates-title{
  padding-bottom: 2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
}

.affiliates-title h1{
  color: #4a7dc0;
}

.affiliates-title p{
  font-weight: 300;
  padding: 0.5em;
}

.affiliates-link{
  width: 100%;
  text-align: center;
  border: 1px solid black;
  padding-bottom: 2em;
}

.affiliates-link p{
  color: white;
  padding: 0.5em;
}

.affiliates-link label{
  font-size: 1.2em;
  color: white;
  font-weight: 600;
}

.affiliates-link button{
  padding: 1.2em;
  border: 0;
  background-color:var(--blue);;
  color: #FFFFFF;
  padding-right: 2em;
  padding-left: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; 
  border-radius: 2em;
  margin-left: -5em;
}

.affiliates-link input{
  border: 0;
  padding: 1.2em;
  width: 50%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 2em;
  background-color: #0000007a;
}

.affiliates-link input:focus{outline: 0;}

.affiliates-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4em;
  flex-wrap: wrap;
}

.affiliates-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--blue);;
  padding-top: 2em;
  background-color: #00000036;
  padding: 1em;
  width: 40%;
  color: white;
  text-align: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.affiliates-item h3{
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;

}

.affiliates-item h1{
  margin-top: 0;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  background-color: #00000057;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;

}

.affiliates-item p{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;

}

.affiliates-item button{
  width: 50%;
  background-color: var(--blue);;
  border: 0;
  padding: 1em;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 2em;
}

.affiliates-help{
  margin-top: 5em;
  font-family: 'Montserrat', sans-serif;
  color: var(--blue);
}

.affiliates-steps{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  flex-wrap: wrap;
}

.affiliates-step h3{
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: var(--blue);
}

.affiliates-step h1{
  background-color: var(--blue);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10em;
}

.affiliates-step{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: #00000036;
  height: 100%;
  min-height:250px;
  padding: 1em;
  border-top: 1px solid var(--blue);;
  color: white;
}

.affiliates-step p{
  font-size: 1em;
  text-align: center;
}

#affiliate-title{
  font-size: 1.6em;
  padding-left: 0.5em;
}



@keyframes step{
  0%, 10% { color:#ffffff60;}
  11%, 32% { color:#fff;}
  33%, 34% { color:#ffffff60;}
}

@keyframes step1{
  0%, 35% { color:#ffffff60;}
  36%, 57% { color:#fff;}
  58%, 59% { color:#ffffff60;}
}

@keyframes step2{
  0%, 60% { color:#ffffff60;}
  61%, 82% { color:#fff;}
  83%, 84% { color:#ffffff60;}
}

@keyframes step3{
  0%, 85% { color:#ffffff60;}
  86%, 100% { color:#fff;}
}

@keyframes beat{
  0%, 10% { transform: scale(1); background-color:#353535; }
  11%, 32% { transform: scale(1.4); background-color: #4a7dc0;}
  33%, 34% { transform: scale(1); background-color:#353535; }
}

@keyframes beat1{
  0%, 35% { transform: scale(1); background-color:#353535; }
  36%, 57% { transform: scale(1.4); background-color: #4a7dc0; }
  58%, 59% { transform: scale(1); background-color:#353535; }
}

@keyframes beat2{
  0%, 60% { transform: scale(1); background-color:#353535; }
  61%, 82% { transform: scale(1.4); background-color: #4a7dc0;}
  83%, 84% { transform: scale(1); background-color:#353535;  }
}

@keyframes beat3{
  0%, 85% { transform: scale(1); background-color:#353535; }
  86%, 100% { transform: scale(1.4); background-color: #4a7dc0;}
}

@keyframes slideDown{
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes tradestep1{
  from {
    width: 0%;
  }
  to {
    width: 16%;
  }
}

@keyframes tradestep2{
  from {
    width: 16%;
  }
  to {
    width: 50%;
  }
}

@keyframes tradestep3{
  from {
    width: 50%;
  }
  to {
    width: 85%;
  }
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); scale: 105%; }
  100% { transform: skewX(0deg); }  
}

@keyframes cards {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1.2, 1.2);
  }
}

.dc-spoiler {
  background-color: #444;
  color: #444;
  padding: 0.2em;
}
.dc-spoiler:hover {
  background-color: none;
  color: #fff;
}
.dc-code {
  margin: 0;
  background-color: #2B2D31;
  color: #fff;
  display: inline-block;
}
.dc-user, .dc-channel {
  background-color: #3D4270;
  color: #fff;
  padding: 0 2px;
  border-radius: 2px;
}
.dc-user:hover, .dc-channel:hover {
  background-color: #5865F2;
}
.dc-multi-code {
  background-color: #2B2D31;
  border: 1px solid #1E1F22;
  border-radius: 5px;
  padding: 0.3em;
  white-space: pre;
  display: block;
}
.dc-quote {
  margin: 0;
  border-left: 3px solid #4E5058;
  padding-left: 6px;
}
.dc-link {
  color: #00A8FC;
}
.dc-timestamp {
  background-color: #3F4046;
}


@media only screen and (max-width: 1000px) {
  .menu{display: none;}
  .banner-right{display: none;}
  .info-box{margin-top: 2em;}
  .news-details img{max-width: 100%;}
  .logo c{display: none;}
  .modal-container{
    width: 100%;
    height: auto;
  }
  .trade-steps-container{
    width: 100%;
    margin-bottom: 1em;
  }

  .mobile-menu{
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    z-index: 99999;
  }

  .trade-steps {
    justify-content: center;
  }
  .trade-steps button{
    margin-bottom: 1em;
    width: 100%;
    margin-top: 1em;
  }
  .App{
    display: block;
  }
  .collection-item{
    width: 100%;
  }
  .newsletter-container h1{
      width: 100%;
  }
  .newsletter-container input{
    width: 80%;
  }
  .newsletter-container h1{font-size: 1.6em;}
  .news-container h1{font-size: 1.5em;}
  
  .tutorial-video{display: none;}
  .tutorial-text{width: 65%;}
  .bar-container{margin-left: 2em;}
  .news-details p{max-width: 90%;}
  .project-item{width: 100%; margin-top: 2em;}
  .tutorial-button{width: 90%;}
  .news-details .news-content{max-width: 90%;}
  .wallet-info{width: 100%;}
  .trade-url{width: 100%; align-items:center;}
  .trade-offer-buttons button{margin-top: 1em;}
  .trade-offer-header h3{font-size: 0.8em; padding: 1em;}
  .given-nfts-container{width: 100%; border-bottom: 4px solid #101010;}
  .affiliates-step{width: 100%; margin-bottom: 1em;}
  .news-collections input{width: 100px; margin-left: 0.5em;}
  .banner-title, .blink-caret{font-size: 2.5em;}
  .launchpad-collection-item{justify-content: center;}
  .affiliates-item button{width: 90%;}
}